<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js" defer></script>
</head>

<body>
    <%- include('partials/_headers')%>
  <div>
  <h1>Have fun! 🥔</h1>
  </div>
  <% for (let result of results.rows) { %>
    <div class="resource-data">
    <h3 class='info'><%= result.title %></h3>
    <p class='info'><%= result.description %></p>
    <p class='info'>Category: <%= result.topic %></p>
    <p class='info'>Rating: <%= (Math.floor(result.rating * 100)/100).toFixed(2) %> / 5</p>
    <a class='info' href='<%= result.external_url %>'><%= result.external_url %></a>
    <div class='number_of_likes_<%= result.id %>'><%= result.like_count %> likes </div>
    <button class="btn btn-like" >
      <span class="btn-icon btn--icon-default">
        <span class="fa fa-heart"></span>
      </span>
      <span class="btn-icon btn--icon-liked">
        <span class="fa fa-heart"></span>
      </span>
    <!-- <span><%= result.like_count %> likes</span> -->
    <span>
      <% if (result.like) { %>
      <span class="btn-content btn-content--liked">
        Liked
      </span>
    <% } else { %>
      <span class="btn-content like btn-content--default" data-like="<%= result.id %>">
        Like
      </span>
      <% } %>
    </button>
    <td>
      <form method="GET" action="/index/<%=result.id%>">
        <button type="submit">Show Comments</button>
      </form>
    </td>
</div>
    <% } %>
</body>

</html>
