<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
  <%- include('partials/_headers', {activeUser: activeUser})%>
  <main class="all-top">
  <% for (let result of results.rows) { %>
    <div class="resource-data">
    <h3 class='info'><%= result.title %></h3>
    <p class='info'><%= result.description %></p>
    <p class='info'>Category: <%= result.topic %></p>
    <p class='info'>Rating: <%= (Math.floor(result.rating * 100)/100).toFixed(2) %> / 5</p>
    <a class='info' href='<%= result.external_url %>'>CLICK ME FOR LINK!</a>
    <td>
      <form method="GET" action="/favourites/<%=result.id%>">
        <button type="submit">Show Comments</button>
      </form>
    </td>
    <td>
      <form method="post" action="/favourites/<%=result.id%>/add_to_favourites">
        <button type="submit">Add me to your favourites</button>
      </form>
    </td>
</div>
    <% } %>
    <h1>Have fun! 🥔</h1>
</div>
</main>
</body>

</html>
