<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>



  <body>
    <%- include('partials/_headers', {activeUser: activeUser})%>
    <main class="all-top">
    <div class="single-resource-info">
      <div class="resource-data">
        <h3 class='info'><%= data.title %></h3>
      <p class='info'><%= data.description %></p>
      <p class='info'>Category: <%= data.topic %></p>
      <p class='info'>Rating: <%= (Math.floor(data.rating * 100)/100).toFixed(2) %> / 5</p>
      <a class='info' href='<%= data.external_url %>'>CLICK ME FOR LINK!</a>
      </div>
      <form method="POST" action="/favourites/<%=id%>">
        <div class="resource-rating">
        <label for="rating">Rate me!</label>
        <select name="rating">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <td>
          <button type="submit"> Submit</button>
        </td>
        </div>
      </form>
      <form class='comment-form' method="POST" action="/favourites/<%=id%>">
        <label for="comment"></label>
      <textarea class="comment-text-area" type="text" name="comment" placeholder="Type  comment here"></textarea>
      <td>
        <button type="submit"> Submit</button>
      </td>
    </form>
    <div class="all-comments">
    <h3>Comments</h3>
      <% for (let comment of comments) { %>
      <% if (comment.comment !== '' && comment.comment !== null  ) { %>
      <div class="single-comment">
        <p class="paragraph"><%=comment.comment%></p>
      <span class="paragraph">Posted by: <%= comment.name%></span>
      </div>
      <% } %>
      <% } %>
    </div>
  </div>

      <h1>Have fun! 🥔</h1>


  </div>
    </main>
  </body>

  </html>


